GCS_PROJECT=
GCS_BUCKET_NAME=
AUTH_USERNAME=admin
AUTH_PASSWORD=password
FILE_UPLOAD_LIMIT=10
TRACING_ENABLED=false
TRACING_ENDPOINT=
TRACING_INSECURE=true
TRACING_PROBE_TIMEOUT=250ms
TRACING_EXPORT_TIMEOUT=750ms
GO_ENV=development
