GCS_PROJECT=
GCS_BUCKET_NAME=
AUTH_USERNAME=admin
AUTH_PASSWORD=password
FILE_UPLOAD_LIMIT=10
ENVIRONMENT=development
TRACING_ENABLED=false
TRACING_ENDPOINT=
TRACING_SAMPLE_RATE=1.0
GO_ENV=development
